.mortgage {
  background-color: #f8f9fb;

  .section-title {
    position: relative;

    @include responsive639 {
      flex-direction: column;
      align-items: flex-start;
    }

    .caption {
      .shift {
      }
    }
  }

  .link-chat {
    position: absolute;
    left: 0;
    bottom: 15px;
    display: none;

    @include responsive1199 {
      width: auto;
      height: auto;
      min-width: initial;
      background-color: $colorBlack;
      padding: 5px 5px 5px 20px;
      bottom: 0;
    }

    @include responsive767 {
      bottom: -15px;
    }

    @include responsive639 {
      position: relative;
      bottom: auto;
      width: auto;
      margin: 5px auto 0;
    }

    .link-chat__link {
      @include responsive1199 {
        display: flex;
        width: auto;
      }
    }

    .link-chat__text {
      @include responsive1199 {
        display: block;
      }
    }
  }

  .mortgage__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
    margin-top: 55px;
    position: relative;
    z-index: 2;

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='338' height='413' viewBox='0 0 338 413' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.43'%3e%3cpath d='M-48 112.14L144.5 1L337 112.14' stroke='%238B8B8B'/%3e%3cpath d='M-48 185.613L144.5 74.4733L337 185.613' stroke='%238B8B8B'/%3e%3cpath d='M-48 262.025L144.5 150.885L337 262.025' stroke='%238B8B8B'/%3e%3cpath d='M-48 335.499L144.5 224.359L337 335.499' stroke='%238B8B8B'/%3e%3cpath d='M-48 411.911L144.5 300.771L337 411.911' stroke='%238B8B8B'/%3e%3c/g%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 385px;
      height: 410px;
      bottom: -60px;
      left: -290px;
      z-index: -1;
    }

    @include after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='338' height='413' viewBox='0 0 338 413' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.43'%3e%3cpath d='M-48 112.14L144.5 1L337 112.14' stroke='%238B8B8B'/%3e%3cpath d='M-48 185.613L144.5 74.4733L337 185.613' stroke='%238B8B8B'/%3e%3cpath d='M-48 262.025L144.5 150.885L337 262.025' stroke='%238B8B8B'/%3e%3cpath d='M-48 335.499L144.5 224.359L337 335.499' stroke='%238B8B8B'/%3e%3cpath d='M-48 411.911L144.5 300.771L337 411.911' stroke='%238B8B8B'/%3e%3c/g%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 385px;
      height: 410px;
      right: -270px;
      top: -280px;
      z-index: -1;
    }

    @include responsive1549 {
      margin-top: 30px;
    }

    @include responsive1023 {
      grid-template-columns: 1fr;
      gap: 13px;
    }
  }

  .mortgage__item {
    padding: 40px;
    background-color: $colorWhite;
    display: flex;
    flex-direction: column;
    min-height: 447px;
    border-radius: 60px;
    position: relative;

    @include responsive1549 {
      padding: 30px 20px;
      min-height: 350px;
      border-radius: 40px;
    }

    @include responsive1023 {
      padding: 35px;
    }

    @include responsive389 {
      padding: 20px 15px;
    }

    &:nth-child(2) {
      background-color: $colorYellow;
      color: $colorWhite;
    }
  }

  .mortgage__icon {
    width: 100px;
    height: 100px;
    background-color: #f8f9fb;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    position: absolute;
    right: 40px;
    top: 40px;

    @include responsive1549 {
      top: 30px;
      right: 20px;
      width: 60px;
      height: 60px;
      background-size: 25px;
      border-radius: 20px;
    }

    &.icon--1 {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M40.6493 21.9551C41.5413 21.9551 42.0255 21.5985 42 20.9618C41.9745 20.3505 41.5158 20.0194 40.6493 20.0194C39.8337 20.0194 39.0182 20.0194 38.2027 20.0194C38.2027 18.7204 38.2027 17.4979 38.2027 16.2498C39.1201 16.2498 40.0121 16.2498 40.9041 16.2498C41.5667 16.2498 42.0255 15.8423 42 15.2565C42 14.6962 41.5667 14.3141 40.9296 14.2887C40.7257 14.2887 40.5218 14.2887 40.2925 14.2887C39.6044 14.2887 38.8908 14.2887 38.2027 14.2887C38.2027 13.0152 38.2027 11.7671 38.2027 10.5191C38.3811 10.5191 38.5595 10.5191 38.7124 10.5191C39.4769 10.5191 40.2415 10.5191 40.9806 10.5191C41.5667 10.4936 42 10.0861 42 9.55124C42 9.01637 41.5667 8.60885 40.9806 8.58338C40.8277 8.58338 40.6493 8.58338 40.4964 8.58338C39.7318 8.58338 38.9927 8.58338 38.1772 8.58338C38.3046 7.208 38.0752 5.95998 37.0813 4.96665C36.0874 3.94785 34.8131 3.71862 33.4369 3.87144C33.4369 3.64221 33.4369 3.51486 33.4369 3.36204C33.4369 2.59794 33.4369 1.83384 33.4369 1.09521C33.4369 0.45846 33.0036 0.02547 32.4684 0.02547C31.9078 0.02547 31.5255 0.45846 31.5 1.09521C31.5 1.2735 31.5 1.45179 31.5 1.63008C31.5 2.34324 31.5 3.08187 31.5 3.8205C30.2257 3.8205 29.0024 3.8205 27.7282 3.8205C27.7282 2.87811 27.7282 1.96119 27.7282 1.04427C27.7282 0.43299 27.2949 0.02547 26.7597 0.02547C26.2245 0.02547 25.8167 0.45846 25.7913 1.04427C25.7658 1.73196 25.7913 2.41965 25.7913 3.10734C25.7913 3.36204 25.7913 3.59127 25.7913 3.8205C24.4915 3.8205 23.2682 3.8205 22.0194 3.8205C22.0194 2.90358 22.0194 2.0376 22.0194 1.14615C21.9684 0.45846 21.5862 0 21.0255 0C20.4393 0 20.0316 0.45846 20.0316 1.14615C20.0316 1.60461 20.0316 2.0376 20.0316 2.49606C20.0316 2.92905 20.0316 3.38751 20.0316 3.8205C18.7318 3.8205 17.5085 3.8205 16.2597 3.8205C16.2597 2.97999 16.2597 2.19042 16.2597 1.37538C16.2597 0.48393 15.9029 0 15.2658 0.02547C14.6286 0.02547 14.2973 0.48393 14.2973 1.34991C14.2973 2.16495 14.2973 2.97999 14.2973 3.79503C12.9976 3.79503 11.7743 3.79503 10.5255 3.79503C10.5255 3.61674 10.5255 3.46392 10.5255 3.33657C10.5255 2.59794 10.5255 1.88478 10.5255 1.14615C10.5255 0.45846 10.1177 0 9.53155 0C8.97087 0 8.58859 0.45846 8.58859 1.17162C8.58859 1.47726 8.58859 1.80837 8.58859 2.11401C8.58859 2.67435 8.58859 3.23469 8.58859 3.84597C7.18689 3.71862 5.93811 3.94785 4.94417 4.94118C3.92476 5.93451 3.72087 7.208 3.8483 8.58338C2.87985 8.58338 1.96238 8.58338 1.07039 8.58338C0.433252 8.58338 0 9.01637 0 9.55124C0 10.0861 0.433252 10.4936 1.0449 10.4936C1.42718 10.4936 1.78398 10.4936 2.16626 10.4936C2.70146 10.4936 3.26214 10.4936 3.82282 10.4936C3.82282 11.7671 3.82282 13.0152 3.82282 14.2632C3.64442 14.2632 3.46602 14.2632 3.31311 14.2632C2.54854 14.2632 1.78398 14.2632 1.01942 14.2632C0.433252 14.3141 0 14.7471 0 15.282C0 15.8169 0.433252 16.2244 1.01942 16.2498C1.17233 16.2498 1.35073 16.2498 1.50364 16.2498C2.2682 16.2498 3.00728 16.2498 3.77184 16.2498C3.77184 17.5233 3.77184 18.7714 3.77184 20.0194C2.82888 20.0194 1.91141 20.0194 1.01942 20.0194C0.433252 20.0449 0 20.4524 0 20.9873C0 21.5221 0.433252 21.9551 1.01942 21.9551C1.65655 21.9806 2.2682 21.9551 2.90534 21.9551C3.21116 21.9551 3.51699 21.9551 3.79733 21.9551C3.79733 23.2541 3.79733 24.4767 3.79733 25.7247C3.59345 25.7247 3.44053 25.7247 3.28762 25.7247C2.54854 25.7247 1.80947 25.7247 1.0449 25.7247C0.433252 25.7247 0.0254854 26.1322 0 26.6671C0 27.2529 0.433252 27.6604 1.0449 27.6859C1.24879 27.6859 1.45267 27.6859 1.68204 27.6859C2.39563 27.6859 3.10922 27.6859 3.79733 27.6859C3.79733 28.9848 3.79733 30.2074 3.79733 31.4554C2.85437 31.4554 1.96238 31.4554 1.0449 31.4554C0.433252 31.4809 0 31.9139 0 32.4488C0 32.9836 0.433252 33.3911 1.0449 33.3911C1.42718 33.3911 1.78398 33.3911 2.16626 33.3911C2.70146 33.3911 3.26214 33.3911 3.8483 33.3911C3.72087 34.792 3.95024 36.04 4.94417 37.0334C5.93811 38.0267 7.21238 38.2559 8.58859 38.1286C8.58859 38.3578 8.58859 38.5361 8.58859 38.6889C8.58859 39.453 8.58859 40.2171 8.58859 40.9557C8.61408 41.5161 9.02184 41.9491 9.53155 41.9491C10.0667 41.9745 10.5 41.5415 10.5255 40.9557C10.5255 40.752 10.5255 40.5737 10.5255 40.3699C10.5255 39.6313 10.5255 38.8927 10.5255 38.154C11.8252 38.154 13.0485 38.154 14.2973 38.154C14.2973 39.0964 14.2973 39.9879 14.2973 40.9048C14.2973 41.5161 14.7306 41.9745 15.2658 41.9491C15.801 41.9491 16.2087 41.5161 16.2087 40.9048C16.2087 40.5227 16.2087 40.1662 16.2087 39.7841C16.2087 39.2492 16.2087 38.6889 16.2087 38.1286C17.483 38.1286 18.7318 38.1286 19.9806 38.1286C19.9806 38.3069 19.9806 38.4342 19.9806 38.587C19.9806 39.3511 19.9806 40.1152 19.9806 40.8539C19.9806 41.4906 20.4138 41.9236 20.949 41.9236C21.5097 41.9236 21.892 41.4906 21.9175 40.8539C21.9175 40.6756 21.9175 40.4973 21.9175 40.319C21.9175 39.6058 21.9175 38.8672 21.9175 38.1286C23.1917 38.1286 24.415 38.1286 25.6893 38.1286C25.6893 38.3069 25.6893 38.4342 25.6893 38.587C25.6893 39.3511 25.6383 40.1152 25.7148 40.8539C25.7403 41.1595 25.9187 41.4906 26.1481 41.7198C26.4029 41.9745 26.7597 41.9745 27.1165 41.7962C27.4988 41.5925 27.6517 41.2614 27.6517 40.8539C27.6517 39.9369 27.6517 39.0455 27.6517 38.1286C28.926 38.1286 30.1748 38.1286 31.4235 38.1286C31.4235 39.0455 31.4235 39.9624 31.4235 40.8539C31.4235 41.4906 31.8313 41.9236 32.392 41.9236C32.9272 41.9236 33.3604 41.4906 33.3604 40.8539C33.3604 40.4973 33.3604 40.1407 33.3604 39.7841C33.3604 39.2238 33.3604 38.6634 33.3604 38.0522C34.7621 38.1795 36.0109 37.9503 37.0049 36.9569C37.9988 35.9636 38.2027 34.7156 38.1007 33.3402C38.3046 33.3402 38.4575 33.3402 38.585 33.3402C39.3495 33.3402 40.1396 33.3402 40.9041 33.3402C41.5158 33.3402 41.9235 32.9072 41.9235 32.3723C41.9235 31.8375 41.4903 31.4045 40.9041 31.4045C40.216 31.379 39.5279 31.4045 38.8398 31.4045C38.5849 31.4045 38.3556 31.4045 38.1007 31.4045C38.1007 30.1055 38.1007 28.9084 38.1007 27.6349C38.3046 27.6349 38.483 27.6349 38.6359 27.6349C39.375 27.6349 40.0886 27.6349 40.8277 27.6349C41.4648 27.6349 41.8981 27.2274 41.8981 26.6925C41.8981 26.1322 41.4648 25.7247 40.8022 25.6992C40.3434 25.6992 39.8847 25.6992 39.426 25.6992C38.9927 25.6992 38.534 25.6992 38.1007 25.6992C38.1007 24.4002 38.1007 23.1777 38.1007 21.9297C39.0437 21.9551 39.8337 21.9551 40.6493 21.9551Z' fill='black'/%3e%3cpath d='M22.6035 27.5004C22.3502 27.5004 22.1235 27.407 21.9235 27.2204C21.7368 27.0337 21.6435 26.8137 21.6435 26.5604V19.4204H20.0635C19.7968 19.4204 19.5702 19.327 19.3835 19.1404C19.1968 18.9404 19.1035 18.7137 19.1035 18.4604C19.1035 18.167 19.2035 17.9337 19.4035 17.7604C19.6035 17.5737 19.8368 17.4804 20.1035 17.4804H21.6435V15.3404C21.6435 15.087 21.7368 14.8604 21.9235 14.6604C22.1102 14.4604 22.3368 14.3604 22.6035 14.3604C22.8835 14.3604 23.1102 14.4604 23.2835 14.6604C23.4702 14.847 23.5635 15.0737 23.5635 15.3404V17.4804H25.2635C25.5302 17.4804 25.7568 17.5737 25.9435 17.7604C26.1302 17.947 26.2235 18.1804 26.2235 18.4604C26.2235 18.7137 26.1302 18.9404 25.9435 19.1404C25.7568 19.327 25.5302 19.4204 25.2635 19.4204H23.5635V26.5604C23.5635 26.8137 23.4702 27.0337 23.2835 27.2204C23.0968 27.407 22.8702 27.5004 22.6035 27.5004Z' fill='white'/%3e%3cpath d='M17.08 16.6605C16.8267 16.6605 16.6 16.5605 16.4 16.3605C16.2133 16.1605 16.1267 15.9338 16.14 15.6805L16.16 14.9405C16.1733 14.6872 16.2733 14.4672 16.46 14.2805C16.6467 14.0938 16.8667 14.0005 17.12 14.0005C17.3733 14.0005 17.5933 14.1005 17.78 14.3005C17.98 14.5005 18.0733 14.7205 18.06 14.9605L18.04 15.7205C18.0267 15.9872 17.9267 16.2138 17.74 16.4005C17.5667 16.5738 17.3467 16.6605 17.08 16.6605ZM16.98 27.4805C16.7133 27.4805 16.48 27.3872 16.28 27.2005C16.0933 27.0005 16 26.7672 16 26.5005L16.1 18.5405C16.1 18.2738 16.1933 18.0472 16.38 17.8605C16.58 17.6605 16.8133 17.5605 17.08 17.5605C17.36 17.5605 17.5933 17.6605 17.78 17.8605C17.9667 18.0472 18.06 18.2738 18.06 18.5405L17.96 26.5005C17.96 26.7672 17.86 27.0005 17.66 27.2005C17.4733 27.3872 17.2467 27.4805 16.98 27.4805Z' fill='white'/%3e%3c/svg%3e ");
    }

    &.icon--2 {
      background-color: $colorWhite;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='42' viewBox='0 0 38 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_92_315)'%3e%3cpath d='M30.974 0.000118556C31.7701 0.225713 32.5495 0.476495 33.2287 0.97806C35.0401 2.31739 35.7171 4.71461 34.8553 6.80847C34.008 8.86839 31.7957 10.1803 29.6435 9.8989C27.2809 9.59008 25.3369 7.5663 25.2301 5.30487C25.1087 2.74449 26.7153 0.641858 29.2104 0.0899183C29.3006 0.0702062 29.3863 0.0296868 29.4732 -0.000976562C29.9742 0.000118556 30.4741 0.000118556 30.974 0.000118556Z' fill='black'/%3e%3cpath d='M8.47284 0C8.66768 0.0580413 8.8603 0.121558 9.05737 0.171934C11.371 0.773154 12.9476 3.04115 12.7093 5.42741C12.4777 7.74687 10.4547 9.74875 8.17779 9.90864C5.46335 10.1003 3.15418 8.24625 2.74556 5.54787C2.37146 3.074 4.12505 0.660357 6.70923 0.0908949C6.79942 0.0711827 6.88515 0.0306633 6.9731 0C7.4719 0 7.97182 0 8.47284 0Z' fill='black'/%3e%3cpath d='M18.9714 15.6359C19.4558 14.98 19.9067 14.2911 20.4355 13.6658C22.0166 11.7965 23.9906 10.5502 26.469 10.1855C30.3904 9.60841 34.324 11.3978 36.2991 14.8223C38.6907 18.9684 38.5281 23.1397 36.0119 27.2015C34.6714 29.3654 32.8632 31.1505 31.0272 32.9038C30.4494 33.4557 29.8559 33.9912 29.2636 34.5278C28.2415 35.4532 26.7251 35.4193 25.7876 34.4545C24.8446 33.4842 24.8657 31.9466 25.8633 30.9873C26.9266 29.9656 28.0333 28.9887 29.081 27.9527C30.3258 26.7229 31.5238 25.446 32.3176 23.868C32.7018 23.1047 32.9478 22.3041 32.8988 21.4149C32.0883 21.4149 31.3011 21.4149 30.4861 21.4149C30.2267 23.2076 29.0142 24.4495 27.8285 25.688C26.8966 26.6616 25.89 27.5673 24.9192 28.5047C24.7822 28.6361 24.6787 28.7128 24.4582 28.6C20.7484 26.7087 17.0453 26.7295 13.3544 28.6624C13.331 28.6744 13.3021 28.6755 13.1952 28.7018C12.1619 27.6943 11.0886 26.6671 10.0409 25.6158C9.59447 25.1679 9.18474 24.6827 8.7906 24.1888C8.13482 23.3675 7.57033 22.4958 7.48237 21.4083C6.66292 21.4083 5.87575 21.4083 5.05852 21.4083C4.98504 22.1169 5.16095 22.7695 5.41703 23.4014C5.92808 24.6652 6.74308 25.7428 7.68835 26.7076C9.02553 28.0743 10.4084 29.4016 11.8068 30.7081C12.555 31.4078 12.9647 32.1887 12.8021 33.2159C12.5895 34.5607 11.0452 35.5364 9.73587 35.1455C9.64569 35.1192 9.55773 35.0666 9.48647 35.0053C7.10716 32.9673 4.75234 30.903 2.83731 28.4138C1.54132 26.7295 0.558198 24.893 0.181872 22.7904C-0.556305 18.6618 0.941204 13.9692 4.8826 11.5446C9.07229 8.96667 14.3809 9.85919 17.5341 13.6877C18.0462 14.3098 18.4938 14.9843 18.9714 15.6359ZM18.9726 17.2983C16.2492 17.2983 13.9823 19.5203 13.9712 22.1979C13.9601 24.8908 16.2358 27.138 18.9726 27.138C21.6926 27.138 23.9628 24.9138 23.9739 22.2373C23.9861 19.5433 21.7115 17.2972 18.9726 17.2983Z' fill='black'/%3e%3cpath d='M14.8429 30.6241C17.603 29.3122 20.3219 29.31 23.1065 30.611C22.5198 31.9569 22.4251 33.3006 22.9907 34.6399C23.5585 35.9836 24.5728 36.886 26.0047 37.3974C25.0772 38.2133 24.191 38.9963 23.3002 39.7739C22.7714 40.236 22.2525 40.7124 21.6958 41.1417C20.3019 42.2193 18.3256 42.3134 16.9372 41.2402C15.3362 40.0027 13.8297 38.647 12.2432 37.3098C13.5525 36.7218 14.4911 35.8194 14.9988 34.5195C15.5087 33.2196 15.4074 31.9328 14.8429 30.6241Z' fill='black'/%3e%3cpath d='M21.4716 22.242C21.466 23.6109 20.3504 24.6798 18.9364 24.6721C17.5491 24.6655 16.4636 23.5617 16.4747 22.1709C16.4847 20.8282 17.6026 19.755 18.9887 19.7583C20.3805 19.7616 21.4783 20.86 21.4716 22.242Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_92_315'%3e%3crect width='38' height='42' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }

    &.icon--3 {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.43633 12.8697C6.11205 12.8697 4.87267 12.5769 3.71817 11.9912C2.59762 11.4056 1.69779 10.6296 1.01868 9.66325C0.339558 8.66764 0 7.58419 0 6.41288C0 5.27086 0.339558 4.21669 1.01868 3.25037C1.69779 2.25476 2.59762 1.46413 3.71817 0.878476C4.87267 0.292825 6.11205 0 7.43633 0C8.79457 0 10.034 0.292825 11.1545 0.878476C12.309 1.46413 13.2258 2.25476 13.9049 3.25037C14.584 4.21669 14.9236 5.27086 14.9236 6.41288C14.9236 7.58419 14.584 8.66764 13.9049 9.66325C13.2258 10.6296 12.309 11.4056 11.1545 11.9912C10.034 12.5769 8.79457 12.8697 7.43633 12.8697ZM6.927 29.6925C6.24788 29.6925 5.68761 29.5022 5.24618 29.1215C4.80475 28.7116 4.58404 28.243 4.58404 27.716C4.58404 27.3353 4.70289 26.9546 4.94058 26.5739L21.2394 1.18594C21.4431 0.863835 21.7317 0.614933 22.1053 0.439238C22.4788 0.263543 22.8693 0.175697 23.2767 0.175697C23.9219 0.175697 24.4652 0.380675 24.9066 0.790631C25.382 1.20059 25.6197 1.66911 25.6197 2.1962C25.6197 2.57687 25.5348 2.89897 25.365 3.16252L8.96435 28.6384C8.76061 28.9897 8.47199 29.2533 8.09847 29.429C7.72496 29.6047 7.33447 29.6925 6.927 29.6925ZM7.43633 8.69693C8.18336 8.69693 8.81155 8.47731 9.32088 8.03807C9.83022 7.59883 10.0849 7.0571 10.0849 6.41288C10.0849 5.79795 9.83022 5.27086 9.32088 4.83162C8.81155 4.39238 8.18336 4.17277 7.43633 4.17277C6.72326 4.17277 6.11205 4.39238 5.60272 4.83162C5.09338 5.27086 4.83871 5.79795 4.83871 6.41288C4.83871 7.0571 5.09338 7.59883 5.60272 8.03807C6.11205 8.47731 6.72326 8.69693 7.43633 8.69693ZM22.5637 30C21.2054 30 19.9491 29.7218 18.7946 29.1654C17.674 28.5798 16.7742 27.8038 16.0951 26.8375C15.416 25.8419 15.0764 24.7584 15.0764 23.5871C15.0764 22.4158 15.416 21.347 16.0951 20.3807C16.7742 19.3851 17.674 18.6091 18.7946 18.0527C19.9491 17.4671 21.2054 17.1742 22.5637 17.1742C23.8879 17.1742 25.1273 17.4671 26.2818 18.0527C27.4363 18.6091 28.3362 19.3851 28.9813 20.3807C29.6604 21.347 30 22.4158 30 23.5871C30 24.7584 29.6604 25.8419 28.9813 26.8375C28.3362 27.8038 27.4363 28.5798 26.2818 29.1654C25.1273 29.7218 23.8879 30 22.5637 30ZM22.5637 25.8712C23.2767 25.8712 23.8879 25.6515 24.3973 25.2123C24.9066 24.7731 25.1613 24.2313 25.1613 23.5871C25.1613 22.9722 24.9066 22.4451 24.3973 22.0059C23.8879 21.5373 23.2767 21.3031 22.5637 21.3031C21.8166 21.3031 21.1885 21.5373 20.6791 22.0059C20.1698 22.4451 19.9151 22.9722 19.9151 23.5871C19.9151 24.2313 20.1698 24.7731 20.6791 25.2123C21.1885 25.6515 21.8166 25.8712 22.5637 25.8712Z' fill='black'/%3e%3c/svg%3e ");
    }
  }

  .mortgage__name {
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    max-width: 220px;

    @include responsive1549 {
      font-size: 30px;
      line-height: 35px;
      max-width: 180px;
    }
  }

  .mortgage__content {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include responsive1549 {
      gap: 16px;
    }
  }

  .mortgage__percent {
    font-weight: 400;
    font-size: 100px;
    line-height: 45px;

    @include responsive1549 {
      font-size: 60px;
      line-height: 30px;
    }
  }

  .mortgage__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;

    @include responsive1549 {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
