.our-villages {
  background-color: $colorWhite;
  position: relative;
  overflow: hidden;

  .section-title {
    position: relative;
    z-index: 3;
  }

  .our-villages__list {
    display: flex;
    flex-direction: column;
    gap: 67px;
    margin-top: 30px;
    position: relative;
    z-index: 3;

    @include responsive1549 {
      gap: 40px;
    }
  }

  .our-villages__item {
    width: 100%;
    position: relative;
    z-index: 2;

    &:nth-child(2n) {
      .bgArrows {
        left: auto;
        right: -245px;
        top: -250px;

        @include responsive767 {
          top: -50px;
          left: auto;
          right: -40px;
        }
      }
    }
  }

  .our-villages__slider {
    width: 100%;
    position: relative;
    border-radius: 60px;
    overflow: hidden;
    z-index: auto;

    .swiper-wrapper {
      z-index: auto;
    }

    @include responsive1199 {
      z-index: 3;
      margin-top: 145px;
    }

    @include responsive767 {
      border-radius: 30px;
      margin-top: 165px;
    }

    .swiper-slide {
      position: relative;
      width: 100%;
      height: 790px;
      border-radius: 60px;
      overflow: hidden;
      padding: 30px;

      @include responsive1549 {
        height: 600px;
      }

      @include responsive1199 {
        height: 500px;
        padding: 20px;
      }

      @include responsive767 {
        border-radius: 30px;
        padding: 11px;
        height: auto;
        padding-top: calc(428 / 355 * 100%);
        min-height: 428px;
      }
    }

    .picture-block {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      @include before {
        width: 100%;
        height: 100%;
        background-color: $colorBlack-a2;
        top: 0;
        left: 0;
        z-index: 2;
        pointer-events: none;
      }
    }

    .swiper-controls {
      position: absolute;
      bottom: 35px;
      right: 40px;
      z-index: 4;

      @include responsive1199 {
        right: 30px;
        bottom: 30px;
      }

      @include responsive767 {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        bottom: 10px;
      }
    }
  }

  .our-villages__content {
    background-color: $colorWhite;
    padding: 20px 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
    border-radius: 50px;
    width: 450px;
    opacity: 0;
    transition: all 0.3s;

    &.active {
      height: 480px;
      z-index: 5;
      padding-bottom: 20px;

      @include responsive1199 {
        height: 440px;
      }

      @include responsive767 {
        height: 470px;
      }

      .caption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .importantText {
          display: flex;
          top: 3px;
          right: -16px;
        }
      }
    }

    @include responsive1549 {
      padding: 24px 30px;
      width: 590px;
    }

    @include responsive1199 {
      opacity: 1;
      pointer-events: initial;
      left: 0;
      top: 0;
      width: 100%;
      padding: 16px;
      border-radius: 25px;
      font-size: 12px;
      line-height: 15px;
      gap: 5px;
      border: solid 1px $colorBlack;
      padding-bottom: 120px;
      border-bottom: 0;
      display: flex;
    }

    @include responsive767 {
    }

    .caption {
      @include responsive1199 {
        gap: 10px;
        margin-bottom: 13px;
      }

      @include responsive767 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 60px;

        br {
          display: none;
        }
      }

      @include responsive389 {
        flex-direction: column;
        gap: 5px;
      }

      img {
        display: inline-block;
        vertical-align: middle;
        width: 44px;

        @include responsive767 {
          max-width: 30%;
        }
      }

      .importantText {
        display: none;

        @include responsive1199 {
          position: relative;
        }

        @include responsive389 {
          margin-left: auto;
          display: flex;
          top: 6px;
          right: -16px;
        }
      }
    }

    p {
      @include responsive1199 {
        display: none;
      }
    }

    .btn {
      width: 100%;
      max-width: 230px;

      @include responsive1199 {
        width: 100%;
        max-width: 100%;
        display: none;
      }

      @include responsive767 {
        max-width: 170px;
      }
    }

    .btnDetails {
      display: none;

      @include after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.14645 11.8536C4.34171 12.0488 4.65829 12.0488 4.85355 11.8536L8.03553 8.67157C8.2308 8.47631 8.2308 8.15973 8.03553 7.96447C7.84027 7.7692 7.52369 7.7692 7.32843 7.96447L4.5 10.7929L1.67157 7.96447C1.47631 7.7692 1.15973 7.7692 0.964466 7.96447C0.769204 8.15973 0.769204 8.47631 0.964466 8.67157L4.14645 11.8536ZM4.5 0.5L4 0.5L4 11.5L4.5 11.5L5 11.5L5 0.5L4.5 0.5Z' fill='white'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        top: 0;
        left: 0;
        width: 11px;
        height: 11px;
      }

      @include responsive1199 {
        display: flex;
        gap: 10px;
        width: 100%;
        max-width: 100%;
        margin-top: 10px;
        height: 50px;
        margin-top: auto;
      }

      &.active {
        &::after {
          transform: scale(-1, -1);
        }
      }
    }
  }

  .bgArrows {
    position: absolute;
    top: -80px;
    left: -245px;
    pointer-events: none;
    z-index: -1;

    @include responsive767 {
      top: -50px;
      left: -40px;
    }
  }

  .logo-village {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: solid 13px $colorWhite;
    background-color: $colorWhite;
    opacity: 0;
    transition: opacity 0.3s;

    @include responsive1199 {
      right: auto;
      left: 16px;
      top: 190px;
      width: 56px;
      height: 56px;
      border-width: 7px;
      border-radius: 16px;
      z-index: 4;
      opacity: 1;
    }

    @include responsive767 {
      top: 200px;
    }
  }

  .importantText {
    position: absolute;
    bottom: 170px;
    left: 0;
    font-weight: 400;
    font-size: 47px;
    line-height: 68px;
    background-position: center;
    background-repeat: no-repeat;
    width: 318px;
    height: 70px;
    padding: 0 12px;
    white-space: nowrap;
    color: $colorWhite;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;

    @include responsive1549 {
      bottom: 100px;
    }

    @include responsive1199 {
      bottom: 50px;
      opacity: 1;
      pointer-events: initial;
      font-size: 21px;
      line-height: 30px;
      height: 31px;
      left: auto;
      right: 0;
      top: 0;
      display: none;
    }

    &.first {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='318' height='70' viewBox='0 0 318 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M181.365 65.4044C181.365 67.8956 183.385 69.915 185.876 69.915H313.483C316.933 69.915 319.105 66.1998 317.414 63.193L302.183 36.1146C301.388 34.7022 301.412 32.9721 302.246 31.5825L317.097 6.83134C318.9 3.82488 316.735 0 313.229 0H185.876C183.385 0 181.365 2.01949 181.365 4.51065V65.4044Z' fill='%23F49C19'/%3e%3crect width='214.256' height='69.9151' transform='matrix(-1 0 0 1 214.256 0)' fill='%23F59E11'/%3e%3c/svg%3e ");

      @include responsive1199 {
        width: 140px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='141' height='31' viewBox='0 0 141 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M60.5832 29C60.5832 30.1046 59.6878 31 58.5832 31H2.00291C0.473257 31 -0.490169 29.3527 0.259761 28.0195L7.01344 16.0129C7.36571 15.3867 7.35496 14.6196 6.98527 14.0034L0.400612 3.02899C-0.399218 1.69594 0.561008 0 2.1156 0H58.5832C59.6878 0 60.5832 0.89543 60.5832 2V29Z' fill='%23F49C19'/%3e%3crect x='46' width='95' height='31' fill='%23F59E11'/%3e%3c/svg%3e ");
      }
    }

    &.two {
      width: 491px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='492' height='70' viewBox='0 0 492 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M355 65.4044C355 67.8956 357.02 69.915 359.511 69.915H487.118C490.567 69.915 492.74 66.1998 491.049 63.193L475.817 36.1146C475.023 34.7022 475.047 32.9721 475.881 31.5825L490.731 6.83134C492.535 3.82488 490.37 0 486.863 0H359.511C357.02 0 355 2.01949 355 4.51065V65.4044Z' fill='%232C6D5C'/%3e%3crect width='369' height='70' transform='matrix(-1 0 0 1 369 0)' fill='%232C6D5C'/%3e%3c/svg%3e ");

      @include responsive1199 {
        width: 215px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='215' height='31' viewBox='0 0 215 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M60.5832 29C60.5832 30.1046 59.6878 31 58.5832 31H2.00291C0.473257 31 -0.490169 29.3527 0.259761 28.0195L7.01344 16.0129C7.36571 15.3867 7.35496 14.6196 6.98527 14.0034L0.400612 3.02899C-0.399218 1.69594 0.561008 0 2.1156 0H58.5832C59.6878 0 60.5832 0.89543 60.5832 2V29Z' fill='%232C6D5C'/%3e%3crect x='46' width='169' height='31' fill='%232C6D5C'/%3e%3c/svg%3e ");
      }
    }

    &.three {
      width: 491px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='492' height='70' viewBox='0 0 492 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M355 65.4044C355 67.8956 357.02 69.915 359.511 69.915H487.118C490.567 69.915 492.74 66.1998 491.049 63.193L475.817 36.1146C475.023 34.7022 475.047 32.9721 475.881 31.5825L490.731 6.83134C492.535 3.82488 490.37 0 486.863 0H359.511C357.02 0 355 2.01949 355 4.51065V65.4044Z' fill='%235F91FF'/%3e%3crect width='369' height='70' transform='matrix(-1 0 0 1 369 0)' fill='%235F91FF'/%3e%3c/svg%3e ");

      @include responsive1199 {
        width: 185px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='185' height='31' viewBox='0 0 185 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M60.5832 29C60.5832 30.1046 59.6878 31 58.5832 31H2.00291C0.473257 31 -0.490169 29.3527 0.259761 28.0195L7.01344 16.0129C7.36571 15.3867 7.35496 14.6196 6.98527 14.0034L0.400612 3.02899C-0.399218 1.69594 0.561008 0 2.1156 0H58.5832C59.6878 0 60.5832 0.89543 60.5832 2V29Z' fill='%235F91FF'/%3e%3crect x='46' width='139' height='31' fill='%235F91FF'/%3e%3c/svg%3e ");
      }
    }
  }
}

.firstSlide {
  .our-villages__info,
  .importantText,
  .logo-village,
  .our-villages__content {
    opacity: 1;
    pointer-events: initial;
  }
}

.our-villages__info {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  opacity: 0;
  transition: opacity 0.3s;

  &.opened {
    opacity: 1 !important;
    pointer-events: initial !important;
  }

  @include responsive1549 {
    width: 500px;
    gap: 12px;
  }

  @include responsive1199 {
    z-index: 5;
    top: 76px;
    bottom: auto;
    transform: initial;
    gap: 0;
    width: calc(100% - 29px);
    right: 2px;
    opacity: 0 !important;
    pointer-events: none !important;
  }

  @include responsive767 {
    top: 106px;
  }

  &.our-villages__info--one {
    li .icon {
      background-color: $colorYellow;
    }
  }

  &.our-villages__info--two {
    li .icon {
      background-color: #2c6d5c;
    }
  }

  &.our-villages__info--three {
    li .icon {
      background-color: #5f91ff;
    }
  }

  li {
    width: 100%;
    background-color: $colorWhite;
    font-weight: 600;
    font-size: 25px;
    line-height: 26px;
    text-transform: uppercase;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99px;
    position: relative;

    @include responsive1549 {
      height: 70px;
      font-size: 22px;
    }

    @include responsive1199 {
      font-size: 16px;
      line-height: 20px;
      height: 60px;
      background-color: #efefef;

      & + li {
        margin-top: 13px;
      }
    }

    @include responsive767 {
      font-size: 14px;
      line-height: 18px;
    }

    @include responsive389 {
      font-size: 12px;
    }

    .icon {
      position: absolute;
      left: -24px;
      top: 50%;
      transform: translateY(-50%);
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
      padding: 10px;

      @include responsive1199 {
        width: 35px;
        height: 35px;
        padding: 8px;
        left: -12px;
      }

      img {
        object-fit: contain;
      }
    }
  }
}
